.my-student-container {
  /* background-color: cadetblue; */
  padding: 30px;
  display:flex;
  flex-direction: column;
}

.my-student-container h1 {
  font-family: Helvetica, sans-serif;
  margin-left: 25%;
  margin-bottom: 35px;
}

.student-list-container {
  width: 95%;
  height: auto;
  margin: 25px auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
