.drawing-teacher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 80%;
  max-width: 600px;
}

/* .tool-bar {
  margin-bottom: 10px;
}

.tool-bar button, .tool-bar input {
  margin-right: 10px;
} */

.canvas-teacher-container {
  margin: 25px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

button:hover {
  background-color: #0056b3;
}

